<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taken</title>
</head>
<body>
<h1>New Task</h1>

<ul>
    <li><a th:href="@{/}">Home</a>
    <li><a th:href="@{/tasks}">Overzicht taken</a></li>
    <li><a th:href="@{/tasks/new}">Voeg Taak toe</a></li>
</ul>

<div th:if="${updateTaak != null}">
<form method="post" th:object="${updateTaak}" action="/tasks/update">
    <div>
        <label for="taak">taak: </label>
        <input type="text" th:field="*{taak}" name="taak" id="taak" >
    </div>
    <div>
        <label for="beschrijving">beschrijving: </label>
        <input type="text" th:field="*{beschrijving}" name="beschrijving" id="beschrijving">
    </div>
    <div>
        <label for="datum">datum: </label>
        <input type="date"  name="datum" id="datum">
    </div>
    <div>
        <label for="tijd">tijd: </label>
        <input type="time" th:field="*{tijd}" name="tijd" id="tijd">
    </div>
        <input type="hidden" th:field="*{id}" name="id" id="id">
    <input type="submit" value="Update Taak">
</form>
</div>
<p th:if="${updateTaak == null}">Task not excist</p>
</body>
</html>