<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Taken</title>
</head>
<body>
<h1>Taak Detail</h1>
    <ul>
        <a th:href="@{/}">Home</a>
        <br>
        <a th:href="@{/tasks}">Overzicht taken</a>
        <br>
        <a sec:authorize-url="/tasks/new" th:href="@{/tasks/new}">Voeg Taak toe</a>
        <br>
    </ul>
<table>


    <div th:if="${taskdetails != null}">
        <thead>
        <tr>
            <th>Taak</th>
            <th>Beschrijving</th>
            <th>Datum</th>
            <th>Tijd</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${taskdetails.getTaak()}"></td>
            <td th:text="${taskdetails.getBeschrijving()}"></td>
            <td th:text="${taskdetails.getDatum()}"></td>
            <td th:text="${taskdetails.getTijd()}"></td>
        </tr>
        </tbody>
    </div>
    <div th:if="${subTaskdetails != null}">
        <thead>
        <tr>
            <th>SubTaak</th>
            <th>SubBeschrijving</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${subTaskdetails.getTaak()}"></td>
        <td th:text="${subTaskdetails.getBeschrijving()}"></td>
        </tr>
        </tbody>
    </div>

    <p th:if="${taskdetails == null}">Task not Found</p>
</table>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>