<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Taken</title>
</head>
<body>
<h1>New Task</h1>

<ul>
    <li><a th:href="@{/tasks}">Overzicht taken</a></li>
    <li><a sec:authorize-url="/task/new" th:href="@{/tasks/new}">Voeg Taak toe</a></li>
</ul>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div th:if="${subTaak != null}">
<form th:method="post" th:object="${subTaak}" th:action="@{/tasks/subtaak}">
    <div>
        <label for="taak">taak: </label>
        <input type="text" name="taak" id="taak" >
    </div>
    <div>
        <label for="beschrijving">beschrijving: </label>
        <input type="text" name="beschrijving" id="beschrijving">
    </div>
    <input type="hidden" th:field="*{id}" name="id" id="id">

    <input type="submit" value="New SubTaak">
</form>
</div>
<p th:if="${subTaak == null}">TaakId does not excist</p>
</body>
</html>